/3/progtech/gyakorlat/gyak2-0917/Zoo/build/
/3/progtech/gyakorlat/gyak2-0917/rpgame/nbproject/private/
/3/progtech/gyakorlat/gyak2-0917/rpgame/build/
/3/progtech/beadando/beadando1_6/nbproject/private/
/3/progtech/beadando/beadando1_6/build/
/3/progtech/beadando/beadando1_6/dist/
/3/progtech/gyakorlat/gyak06-1015/calc/build/
/3/progtech/gyakorlat/gyak06-1015/qwerty/nbproject/private/
/3/progtech/gyakorlat/gyak06-1015/qwerty/build/
/3/python/gyakorlat/gyak06-1015/__pycache__/
/3/webprog/beadando/
/3/progtech/gyakorlat/gyak07-1022/FlashcardsIntro/build/
